__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
*.cover
.hypothesis/
htmlcov/
.tox/
.env
.venv
env/
venv/
ENV/
.DS_Store
.idea/
*.swp
*.swo
*~
*.md
!README.md
